[submodule "Application"]
	path = chatbot_deploy
	url = https://github.com/vonschappler/vonSchappler_chatbotdeploy.git
[submodule "Code"]
	path = chatbot_src
	url = https://github.com/vonschappler/vonSchappler_chatbot_src.git
