[submodule "chatbot_deploy"]
	path = Application
	url = https://github.com/vonschappler/vonSchappler_chatbot_deploy.git
[submodule "chatbot_src"]
	path = Code
	url = https://github.com/vonschappler/vonSchappler_chatbot_src.git
